<div class="container">
  <div class="row">
    <ng-container *ngFor="let server of servers">
      <div class="server-box d-flex align-content-end flex-wrap" ngbDropdown #myDrop="ngbDropdown">

        <div class="container">
          <div class="row">
            <p>Server: {{server.port}} </p>
          </div>
          <div class="row">
            <div [id]="server.id" class="server" [ngClass]="server.freezed ? 'status_fail' : 'status_ok'"
                 ngbDropdownAnchor (click)="$event.stopPropagation(); myDrop.open();">
            </div>
          </div>
          <div class="row">
            <div>
              <div *ngIf="server.consistent">
                <div class="server-consistent-status server-consistent"></div>
                Consistent
              </div>
              <div *ngIf="!server.consistent">
                <div class="server-consistent-status server-incoherent"></div>
                Unconsistent
              </div>
            </div>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem (click)="showServerData(content, server)">Show server data</button>
            <button ngbDropdownItem (click)="unFrozze(server)" *ngIf="server.freezed">Unfroze</button>
            <button ngbDropdownItem (click)="frozze(server)" *ngIf="!server.freezed">Froze</button>
            <button ngbDropdownItem (click)="kill(server)">Turn off server</button>
          </div>
        </div>
      </div>

    </ng-container>
  </div>
  <div class="row">
    <button class="btn btn-danger" (click)="killAll()">Kill All</button>
  </div>
  <div class="row">
    <button class="btn btn-danger" (click)="clearRumors()">Clear all rumor</button>
  </div>
  <div class="row">
    <button class="btn btn-success" (click)="sendRumor()">Send rumor</button>
  </div>

  <div class="row">
    <ul *ngFor="let message of sentMessage">
      <li>Port server {{ message.name }}, data: {{message.data}}</li>
    </ul>
  </div>
  <!--  <div class="row">-->
  <!--    <button class="btn btn-success" (click)="sendRandomRumor()" *ngIf="!rumorInterval">Wyślij losową plotkę co 5s</button>-->
  <!--    <button class="btn btn-success" (click)="stopRumor()" *ngIf="rumorInterval">Zatrzymaj losową plotkę</button>-->
  <!--  </div>-->

  <ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Sent: </p>

      <ul>
        <li *ngFor="let recipient of serverDataMap | keyvalue">
          {{recipient.key}}
          <ul>
            <li *ngFor="let serverData of recipient.value">
              Server name: {{serverData.name}}
              Server data: {{serverData.data}}
            </li>
          </ul>
        </li>
      </ul>

    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
</div>
