.server {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.status_fail {
  background: #ff1f3c;
}

.status_ok {
  background: #00ff54;
}

.server-box {
  margin: 20px;
  height: 150px;
}

.server-consistent-status {
  display: inline-table;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 5px;
}

.server-consistent {
  background: #00ff54;
}

.server-incoherent {
  background: #ff1f3c;
}
